.popup__close-button {
  background-image: url(../../../images/popup-close-icon.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    background-size: 20px 20px;
    top: -37px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
